@model DisplayExpressionOfInterestsViewModel

@{
    ViewData["Title"] = "Expression of Interests";
}

<h1>Expression of Interests</h1>

<div class="row">
    @foreach (var property in Model.Properties)
    {
        if (property.SaleStatusId == 3) // TODO: Se om det går att göra kontrollen på ett bättre sätt. (3 = For sale)
        {
            <div class="col-4">
                <div class="card mb-3">

                    <div class="card-header">
                        <img src="~/images/bootyfulhouse.png" alt="bild ju!" style="width:100%"> @* TODO: lägg in rätt bild. *@
                    </div>

                    <div class="card-body">
                        <h2>@property.Adress.Street @property.Adress.StreetNumber, @property.Adress.City</h2>
                        <p>@property.Summary</p>
                    </div>

                    <div class="card-footer">
                        <a asp-controller="Properties" asp-action="Details" asp-route-id="@property.Id" class="btn btn-primary">Details</a>
                    </div>

                </div>
            </div>
        }
    }
</div>