
@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "All Users";
}

<h1>All Users</h1>

@if (Model.Any())
{
    foreach (var user in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                User Id : @user.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@user.UserName</h5>
            </div>
            <div class="card-footer">
                <a asp-action="EditUser" asp-controller="AdminOptions"
                    asp-route-id="@user.Id" class="btn btn-primary">Edit</a>

                <form asp-action="DeleteUser" asp-controller="AdminOptions" asp-route-id="@user.Id" method="post">
                    <span id="confirmDeleteSpan_@user.Id" style="display:none">
                        <span>Are you sure you want to delete?</span>
                        <button type="submit" class="btn btn-danger">Yes</button>
                        <a href="#" class="btn btn-primary"
                            onclick="confirmDelete('@user.Id', false)">No</a>
                    </span>

                    <span id="deleteSpan_@user.Id">
                        <a href="#" class="btn btn-danger"
                            onclick="confirmDelete('@user.Id', true)">Delete</a>
                    </span>
                </form>

            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No users created yet
        </div>
    </div>
}

@section scripts{<script src="~/js~/js/AdminDeleteValidation.js"></script>}