@if (Model != null)
{
    // Kräver att Model.Properties är av typ List<Property>.
    // Kräver att Model.Images är av typ List<Image>. Den förväntas vara filtrerad med bara visningsbilder.
    <div class="row">
        @foreach (Property property in Model.Properties)
        {
            <div class="col-12 col-md-6 col-xl-4">
                <div class="card my-3">

                    <div class="card-header">
                        @{
                            List<Image> images = Model.Images;
                            var image = images.Find(i => i.PropertyId == property.Id);
                            if (image != null)
                            {
                                <img src="@(image.Url)" alt="Image of property" style="width:100%">
                            }
                            else
                            {
                                <img src="~/images/properties/default/bootyfulhouse.png" alt="Dummy image of property" style="width:100%">
                            }
                        }
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">@property.Address.Street @property.Address.StreetNumber</h5>
                        <h6 class="card-subtitle">@property.Address.PostalCode @property.Address.City, @property.Address.Country</h6>
                        <p class="card-text">
                            Summary: @property.Summary<br>
                            Number of Rooms: @property.NumberOfRooms<br>
                            Area: @property.BuildingArea + @property.BeeArea<br>
                            Plot Area: @property.PlotArea<br>
                            Type: @property.PropertyType.Description<br>
                            Tenure: @property.Tenure.Description<br>
                            Price: @Math.Round(property.Price)<br>
                        </p>
                    </div>

                    <div class="card-footer">
                        <a class="btn btn-primary" asp-controller="Properties" asp-action="Details" asp-route-returnUrl="@Context.Request.Path" asp-route-id="@property.Id">Details</a>
                    </div>

                </div>
            </div>
        }
    </div>
}
