@if (Model != null)
{
    <div class="row">
        @foreach (Property p in Model.Properties)
        {
            <div class="col-12 col-md-6 col-xl-4">
                <div class="card my-3">

                    <div class="card-header">
                        @{
                            List<Image> images = Model.Images;
                            var image = images.Find(i => i.PropertyId == p.Id);
                            if (image != null)
                            {
                                <img src="@(image.Url)" alt="Image of property" style="width:100%">
                            }
                            else
                            {
                                <img src="~/images/properties/default/bootyfulhouse.png" alt="Dummy image of property" style="width:100%">
                            }
                        }
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">@p.Adress.Street @p.Adress.StreetNumber</h5>
                        <h6 class="card-subtitle">@p.Adress.PostalCode @p.Adress.City, @p.Adress.Country</h6>
                        <p class="card-text">
                            Summary: @p.Summary<br>
                            Number of Rooms: @p.NumberOfRooms<br>
                            Area: @p.BuildingArea + @p.BeeArea<br>
                            Plot Area: @p.PlotArea<br>
                            Type: @p.PropertyType.Description<br>
                            Tenure: @p.Tenure.Description<br>
                            Price: @Math.Round(p.Price)<br>
                        </p>
                    </div>

                    <div class="card-footer">
                        <a class="btn btn-primary" asp-controller="Properties" asp-action="Details" asp-route-returnUrl="@Context.Request.Path" asp-route-id="@p.Id">Details</a>
                    </div>

                </div>
            </div>
        }
    </div>
}
