@model HomeFinder.Models.Property

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Property</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfRooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfRooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuildingArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuildingArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlotArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlotArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConstructionYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConstructionYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfViews)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfViews)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MapUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MapUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublishingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViewingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViewingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adress.City)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropertyType.Description)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenure.Description)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleStatus.Description)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstateAgent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstateAgent.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-controller="Properties" asp-action="Index">Back to List</a>
    </form>
</div>
