@using HomeFinder.Data
@model HomeFinder.ViewModels.PropertyViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Property</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Property.Price" class="control-label"></label>
                <input asp-for="Property.Price" class="form-control" />
                <span asp-validation-for="Property.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Property.Description" class="control-label"></label>
                <input asp-for="Property.Description" class="form-control" />
                <span asp-validation-for="Property.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Property.Summary" class="control-label"></label>
                <input asp-for="Property.Summary" class="form-control" />
                <span asp-validation-for="Property.Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Property.NumberOfRooms" class="control-label"></label>
                <input asp-for="Property.NumberOfRooms" class="form-control" />
                <span asp-validation-for="Property.NumberOfRooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Property.BuildingArea" class="control-label"></label>
                <input asp-for="Property.BuildingArea" class="form-control" />
                <span asp-validation-for="Property.BuildingArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Property.PlotArea" class="control-label"></label>
                <input asp-for="Property.PlotArea" class="form-control" />
                <span asp-validation-for="Property.PlotArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Property.ConstructionYear" class="control-label"></label>
                <input asp-for="Property.ConstructionYear" class="form-control" />
                <span asp-validation-for="Property.ConstructionYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Property.MapUrl" class="control-label"></label>
                <input asp-for="Property.MapUrl" class="form-control" />
                <span asp-validation-for="Property.MapUrl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Property.ViewingDate" class="control-label"></label>
                <input asp-for="Property.ViewingDate" class="form-control" />
                <span asp-validation-for="Property.ViewingDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address.Street" class="control-label"></label>
                <input asp-for="Address.Street" class="form-control" />
                <span asp-validation-for="Address.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.StreetNumber" class="control-label"></label>
                <input asp-for="Address.StreetNumber" class="form-control" />
                <span asp-validation-for="Address.StreetNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address.PostalCode" class="control-label"></label>
                <input asp-for="Address.PostalCode" class="form-control" />
                <span asp-validation-for="Address.PostalCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address.City" class="control-label"></label>
                <input asp-for="Address.City" class="form-control" />
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Country" class="control-label"></label>
                <input asp-for="Address.Country" class="form-control" />
                <span asp-validation-for="Address.Country" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Property.PropertyTypeId" class="control-label"></label>
                <select asp-for="Property.PropertyTypeId" class="form-control">
                    <option value="" selected disabled hidden>-- Choose property type --</option>
                    @for (int i = 0; i < Model.PropertyTypes.Count; i++)
                    {
                        <option value="@Model.PropertyTypes[i].Id">@Model.PropertyTypes[i].Description</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Property.TenureId" class="control-label"></label>    
                <select asp-for="Property.TenureId" class="form-control">
                    <option value="" selected disabled hidden>-- Choose tenure type --</option>
                    @for (int i = 0; i < Model.Tenures.Count; i++)
                    {
                        <option value="@Model.Tenures[i].Id">@Model.Tenures[i].Description</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Property.SaleStatusId" class="control-label"></label>
                <select asp-for="Property.SaleStatusId" class="form-control">
                    <option value="" selected disabled hidden>-- Choose sale status --</option>
                    @for (int i = 0; i < Model.SaleStatuses.Count; i++)
                    {
                        <option value="@Model.SaleStatuses[i].Id">@Model.SaleStatuses[i].Description</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Property.EstateAgentId" class="control-label"></label>
                <select asp-for="Property.EstateAgentId" class="form-control">
                    <option value="" selected disabled hidden>-- Choose sale status --</option>
                    @for (int i = 0; i < Model.EstateAgents.Count; i++)
                    {
                        if (Model.EstateAgents[i].UserName == User.Identity.Name)
                        {
                            <option value="@Model.EstateAgents[i].Id">@Model.EstateAgents[i].FirstName @Model.EstateAgents[i].LastName</option>
                        }  
                    }
                </select>
            </div>
            <div class="form-group row">
                <label asp-for="Images" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <div class="custom-file">
                        <input asp-for="Images" class="form-control custom-file-input">
                        <label class="custom-file-label">Choose File...</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<!-- Visa filnamnen för de filer som valts i uppladdningsrutan. -->
@section Scripts {
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>
    <partial name="_ValidationScriptsPartial" />

}
