@model HomeFinder.Models.Property

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Property</h4>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
    <a asp-controller="ExpressionOfInterest" asp-action="Add" asp-route-id="@Model.Id">&#9829;</a> |
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfRooms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfRooms)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BuildingArea)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BuildingArea)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlotArea)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlotArea)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConstructionYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConstructionYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfViews)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfViews)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MapUrl)
        </dt>
        <dd class="col-sm-10">

            <iframe src="@Model.MapUrl" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublishingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublishingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ViewingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ViewingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adress.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PropertyType.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenure)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenure.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SaleStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SaleStatus.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstateAgent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model=> model.EstateAgent.FirstName) @Html.DisplayFor(model=>model.EstateAgent.LastName)
        </dd>
    </dl>
</div>
<div>

    <a asp-action="Index">Back to List</a>
</div>
