@model IEnumerable<HomeFinder.Models.Property>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfRooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuildingArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlotArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConstructionYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfViews)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MapUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaleStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstateAgent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfRooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuildingArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlotArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConstructionYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfViews)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MapUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViewingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyType.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenure.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaleStatus.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstateAgent.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
