@using HomeFinder.Data
@model PropertySummaryViewModel


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (Model == null)
{
   <p>There are no properties!</p> 
}
else
{

    <partial name="_ListPropertiesPartial" />


   @* <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Properties[0].Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Properties[0].Description)
                </th>
                <th>
                    Images
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Properties[0].Summary)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Properties[0].NumberOfRooms)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Properties[0].BuildingArea)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Properties[0].PlotArea)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Properties[0].ConstructionYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Properties[0].NumberOfViews)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Properties[0].MapUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Properties[0].PublishingDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Properties[0].ViewingDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Properties[0].Adress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Properties[0].PropertyType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Properties[0].Tenure)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Properties[0].SaleStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Properties[0].EstateAgent)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var property in Model.Properties)
            {
                <tr>
                    <td>
                        <a asp-controller="Properties" asp-action="Edit" asp-route-id="@property.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@property.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@property.Id">Delete</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => property.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => property.Description)
                    </td>
                    <td>
                        @foreach(var image in Model.Images)
                        {
                            if(image.PropertyId == property.Id)
                            {
                                <img src="@(image.Url)" width="100">
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => property.Summary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => property.NumberOfRooms)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => property.BuildingArea)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => property.PlotArea)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => property.ConstructionYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => property.NumberOfViews)
                    </td>
                    <td>
                        <iframe src="@property.MapUrl" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => property.PublishingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => property.ViewingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => property.Adress.Street) @Html.DisplayFor(modelItem => property.Adress.StreetNumber) <br>
                        @Html.DisplayFor(modelItem => property.Adress.PostalCode) @Html.DisplayFor(modelItem => property.Adress.City)  <br>
                        @Html.DisplayFor(modelItem => property.Adress.Country)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => property.PropertyType.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => property.Tenure.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => property.SaleStatus.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => property.EstateAgent.FirstName) @Html.DisplayFor(modelItem => property.EstateAgent.LastName)
                    </td>

                </tr>
            }
        </tbody>
    </table>*@
}