@using HomeFinder.Data
@model List<PropertyViewModel>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (Model == null)
{
   <p>There are no properties!</p> 
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Property.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Property.Description)
                </th>
                <th>
                    Images
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Property.Summary)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Property.NumberOfRooms)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Property.BuildingArea)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Property.PlotArea)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Property.ConstructionYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Property.NumberOfViews)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Property.MapUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Property.PublishingDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Property.ViewingDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Property.Adress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Property.PropertyType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Property.Tenure)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Property.SaleStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Property.EstateAgent)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Properties" asp-action="Edit" asp-route-id="@item.Property.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Property.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Property.Id">Delete</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Property.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Property.Description)
                    </td>
                    <td>
                        @foreach(var i in item.ImageUrls)
                        {
                            <img src="@(i)" width="100">
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Property.Summary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Property.NumberOfRooms)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Property.BuildingArea)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Property.PlotArea)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Property.ConstructionYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Property.NumberOfViews)
                    </td>
                    <td>
                        <iframe src="@item.Property.MapUrl" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Property.PublishingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Property.ViewingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adress.Street) @Html.DisplayFor(modelItem => item.Adress.StreetNumber) <br>
                        @Html.DisplayFor(modelItem => item.Adress.PostalCode) @Html.DisplayFor(modelItem => item.Adress.City)  <br>
                        @Html.DisplayFor(modelItem => item.Adress.Country)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Property.PropertyType.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Property.Tenure.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Property.SaleStatus.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Property.EstateAgent.FirstName) @Html.DisplayFor(modelItem => item.Property.EstateAgent.LastName)
                    </td>

                </tr>
            }
        </tbody>
    </table>
}